.containers {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

.main-contents {
  display: flex;
  align-items: center;
  justify-content: center;  /* Changed to center align content */
  padding: 60px 160px;
  max-width: auto;
  background-color: #f7f7f7;
  border-radius: 20px;
  gap: 20px;  /* Reduced the gap */
}

.text-contents {
  flex: 1;
  max-width: 100%;  /* Adjusted for better centering */
  text-align: left;  /* Align text to the left */
}

.text-contents h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #2c3e50;
}

.text-contents .subtext {
  font-size: 1.25rem;
  margin-bottom: 30px;
  color: #7f8c8d;
}

.text-contents button {
  padding: 15px 40px;
  font-size: 1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-contents button:hover {
  background-color: #fa6449;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.text-contents .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-contents .stat-item {
  text-align: center;
}

.text-contents .stat-item h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.text-contents .stat-item p {
  font-size: 1rem;
  color: #95a5a6;
}

.image-contents {
  flex: 1;
  text-align: center;
  max-width: 50%;  /* Adjusted for better centering */
}

.image-contents .delivery-man {
  width: 100%;
  max-width: 450px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-contents .delivery-man:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .main-contents {
    flex-direction: column;
    padding: 40px 20px;
  }

  .text-contents {
    text-align: center;
    max-width: 100%;  /* Adjusted for better centering */
  }

  .image-contents {
    margin-top: 30px;
    max-width: 100%;  /* Adjusted for better centering */
  }
}

@media (max-width: 768px) {
  .text-contents h1 {
    font-size: 1.8rem;
  }

  .text-contents .subtext {
    font-size: 1rem;
  }

  .text-contents .stat-item h2 {
    font-size: 1.8rem;
  }

  .text-contents button {
    padding: 8px 20px;
    font-size: 0.6rem;
  }

  .text-contents .stats {
    flex-direction: column;
    align-items: center;
  }

  .text-contents .stat-item {
    margin-bottom: 20px;
  }

  .image-contents .delivery-man {
    max-width: 250px;
  }
}
